.apd-manage-user-apps .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apd-manage-user-apps .apd-app-view {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.apd-manage-user-apps .apd-app-view .apd-app-view-detail-left {
  flex: 1 1 0;
  align-items: center;
}
.apd-manage-user-apps .apd-app-view .apd-app-view-detail-right {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-left: 2.5rem;
}
.apd-manage-user-apps .card .p-field {
  margin-bottom: 2.5rem;
}

.apd-info-header {
  border: 1px;
  padding: 0.5rem;
  background: #f8f9fa;
  color: #495057;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 600;
}

.apd-manage-user-apps-delete-confirmation-content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: red !important;
}
