/* .manage-users .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manage-users .p-button {
  margin-right: 0.5rem;
}
.manage-users .delete-confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.manage-users .badge-activated {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.3px;
  background-color: transparent;
  color: rgb(0, 0, 0);
}
.manage-users .ap-api-error {
  border-color: #df2121;
}

.manage-users .card form {
  margin-top: 2rem;
}
.manage-users .card .p-field {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 100px) {
  .manage-users .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .manage-users .card {
    width: 100%;
    min-width: 0;
  }
}

.button-set-footer {
  display: flex;
  flex-wrap: nowrap;
}
.button-set-footer .p-button-label {
  display: flex;
} */
