.manage-organizations .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manage-organizations .sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
.manage-organizations .sub-sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.manage-organizations-delete-confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red !important;
}
.manage-organizations .ap-api-error {
  border-color: #df2121;
}
.manage-organizations .has-badge {
  background-color: transparent;
}
.manage-organizations .card form {
  margin-top: 2rem;
}
.manage-organizations .card .p-field {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 100px) {
  .manage-organizations .card {
    width: 80%;
  }
}
.button-set-footer {
  display: flex;
  flex-wrap: nowrap;
}
.button-set-footer .p-button-label {
  display: flex;
}

.manage-organizations .organization-view {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.manage-organizations .organization-view .detail-left {
  flex: 1 1 0;
  align-items: center;
}
.manage-organizations .organization-view .detail-right {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-left: 2.5rem;
}
