.manage-apis .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manage-apis .sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
.manage-apis .sub-sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.manage-apis .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.manage-apis .ap-api-error {
  border-color: #df2121;
}
.manage-apis .badge-active {
  background-color: transparent;
}
.manage-apis .card form {
  margin-top: 2rem;
}
.manage-apis .card .p-field {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 100px) {
  .manage-apis .card {
    width: 80%;
  }
}
.manage-apis .api-view {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.manage-apis .api-view .api-view-detail-left {
  flex: 1 1 0;
  align-items: center;
}
.manage-apis .api-view .api-view-detail-right {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-left: 2.5rem;
}

.manage-apis .api-description {
  margin: 0 0 1rem 0;
}

.button-set-footer {
  display: flex;
  flex-wrap: nowrap;
}
.button-set-footer .p-button-label {
  display: flex;
}
.manage-apis .upload-from-file-dialog-content {
  background-color: transparent;
}
