.manage-apis .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manage-apis .sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
.manage-apis .sub-sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.manage-apis .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.manage-apis .ap-api-error {
  border-color: #df2121;
}
.manage-apis .badge-active {
  background-color: transparent;
}
.manage-apis .card form {
  margin-top: 2rem;
}
.manage-apis .card .p-field {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 100px) {
  .manage-apis .card {
    width: 80%;
  }
}
.button-set-footer {
  display: flex;
  flex-wrap: nowrap;
}
.button-set-footer .p-button-label {
  display: flex;
}
