.manage-attribute .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manage-attribute .ap-edit-dialog-content {
  background-color: transparent;
}

.manage-attribute .ap-edit-dialog-content .ap-select-input {
  width: 50%;
}

.manage-attribute .ap-edit-dialog-content .ap-picklist {
  background-color: transparent;
}

/* // style={ { 'background': 'none', 'border': 'none', 'paddingTop': '0rem', 'paddingBottom': '0rem', 'marginBottom': '0rem !important' } }  */

.p-picklist .p-picklist-header {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}
.p-picklist .p-picklist-list .p-picklist-item {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.ap-picklist-item {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.ap-label {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 700 !important;
}
.ap-api-parameter-info {
  padding-bottom: 1rem;
}
.ap-error {
  padding-bottom: 1rem;
}

#disabledComponent {
  opacity: 0.6;
  pointer-events: none;
}
