.adp-explore-apis .page-header {
  border: 1px;
  padding: 0.5rem;
  background: #f5f7f4ee;
  color: #030303e8;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: center;
}
.adp-explore-apis .page-header .title {
  font-weight: 800;
  font-size: x-large;
}
.adp-explore-apis .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.adp-explore-apis .name {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.adp-explore-apis .description {
  margin: 0 0 1rem 0;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
  height: 2.8em; /* 2 x line-height */
  line-height: 1.4em;
}
.adp-explore-apis .api-product-name-list-title {
  margin: 0 0 1rem 0;
  text-align: left;
  font-weight: 600;
}
.adp-explore-apis .api-product-name-list {
  margin: 0 0 1rem 0;
  text-align: left;
}

.adp-explore-apis .category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.adp-explore-apis .category {
  font-weight: 600;
  vertical-align: middle;
}

.adp-explore-apis .list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  align-items: flex-start;
}

.adp-explore-apis .list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.adp-explore-apis .list-item .list-detail {
  flex: 1 1 0;
}

/* .adp-explore-apis .list-item .p-rating {
  margin: 0 0 0.5rem 0;
} */

/* .adp-explore-apis .list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
} */

/* .adp-explore-apis .list-item .product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.adp-explore-apis .list-item .list-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.adp-explore-apis .grid-item {
  margin: 0.5em;
  /* border: 1px solid var(--surface-border); */
  border: 1px solid;
  padding: 2rem;
}

.adp-explore-apis .grid-item .grid-item-top,
.adp-explore-apis .grid-item .grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adp-explore-apis .grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.adp-explore-apis .grid-item .grid-item-content {
  text-align: center;
}

/* .adp-explore-apis .grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
} */

@media screen and (max-width: 576px) {
  .adp-explore-apis .list-item {
    flex-direction: column;
    align-items: center;
  }

  .adp-explore-apis .list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .adp-explore-apis .list-item .list-detail {
    text-align: center;
  }

  /* .adp-explore-apis .list-item .list-action {
    display: flex;
    flex-direction: column;
  } */

  .adp-explore-apis .list-item .list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
