.ap-navbar .system-health-overlay-panel {
  min-width: 15rem;
}

/* .system-health-button {
  font-size: 2px;
  height: 1rem;
  width: 1rem;
}

.p-button .p-button-icon-only .p-button-rounded {
  height: 1rem;
  width: 1rem;
} */
