@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #008744;
  }
  40% {
    stroke: #008744;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #008744;
  }
}
.ap-spinner .ui-dialog .ui-widget-content {
  background-color: transparent;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
}

.ap-component-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.ap-component-section-header {
  font-size: 1.2rem;
  font-weight: 600;
}

.ap-display-asyncapispec {
  max-width: 1200px;
}

.ap-display-component-header {
  border: 1px;
  padding: 0.5rem;
  background: #f8f9fa;
  color: #495057;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 600;
}

.ap-display-sub-component-header {
  border: 1px;
  padding: 0.5rem;
  background: #f8f9fa;
  color: #495057;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 600;
  font-style: italic;
}
