.monitor-organization-jobs .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.monitor-organization-jobs .sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
.monitor-organization-jobs .sub-sub-table {
  padding-left: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.monitor-organization-jobs .ap-api-error {
  border-color: #df2121;
}
.monitor-organization-jobs .card form {
  margin-top: 2rem;
}
@media screen and (max-width: 100px) {
  .monitor-organization-jobs .card {
    width: 80%;
  }
}
.button-set-footer {
  display: flex;
  flex-wrap: nowrap;
}
.button-set-footer .p-button-label {
  display: flex;
}

.monitor-organization-jobs .organization-job-view {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.monitor-organization-jobs .organization-job-view .detail-left {
  flex: 1 1 0;
  align-items: center;
}
.monitor-organization-jobs .organization-job-view .detail-right {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-left: 2.5rem;
}
